version: '3.9'

services:
  app:
    build: .
    container_name: student_app
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    volumes:
      - ./public:/app/public
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
